.site-banner {
  border-top: 8px solid black;
  border-bottom: 1px solid black;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.site-banner img {
  width: 150px;
}

.article {
  max-width: 900px;
  margin: 0 auto;
  text-align: left; 
}

.story-header {
  font-family: "Basier", Arial;
  font-size: 20px;
}

.story-header h1 {
  font-size: 46px;
  margin-bottom: 0px;
}

.byline {
  font-weight: bold;
}

.story-copy {
  font-family: "Pensum", Arial;
  font-size: 20px;
  text-align: left; 
}

.story-copy .photo {
  width: 100%;
}

.story-copy .photo-caption {
  color: gray;
  font-size: 14px;
  margin-top: 0px;
}

.story-copy h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: left; 
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.story-copy ul {
  margin-left: 20px; 
  padding-left: 20px; 
  text-align: left; 
}

.story-copy li {
  margin-bottom: 10px;
}

.footer {
  font-family: "Basier";
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left; 
}

a:hover {
  color: black;
}
